# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system or editor junk
.DS_Store
.vscode/

# Ignore virtual environments
venv/
.env/

# Ignore secrets or config
secrets.json


